.nameHolder {
  font-size: 15px;
  color: white;
  position: absolute;
  left: 25%; }
  @media only screen and (max-width: 500px) {
    .nameHolder {
      left: 35%; } }

.profile {
  background-color: grey;
  margin-top: 10px;
  border: 2px solid #114372;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 5px; }

.card {
  border: 2px solid #114372;
  border-radius: 25px; }

.noti-container {
  border: 2px solid #7986cb;
  border-radius: 25px; }
  .noti-container h2 {
    text-align: center;
    font-weight: bold; }

.theme-btn {
  border-radius: 2px solid #209b3a;
  background-color: #2bbc4a;
  color: white; }
  .theme-btn:hover {
    background-color: white;
    color: #2bbc4a;
    cursor: pointer; }
  .theme-btn .disabled {
    background-color: grey;
    cursor: not-allowed; }
